@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.google.com/specimen/Montserrat');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family:'Bebas Neue', sans-serif;
}

.navbar{
 border-radius: 10vh;
 min-width: 100%;
  position: relative !important;
 margin-top: 1%;
 background-color:rgba(0,0,0,0.6);

}

.homebackgroundoverlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0,0.8) 10%, rgb(0, 0, 0,0.5) 75%, rgb(0, 0, 0,0) 100%);
}


.homepagecontainer{
 
  max-width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  position: relative;
 
 
}

.navbartitle{
  text-decoration: none;
  list-style: none;
  padding: 0;
  font-size: 4em;
  color: white;
  font-weight: 600;
  margin-left: 3%;
 

}

.navbarlistcontainer{
display: flex;
min-width: 30%;
justify-content: space-evenly;
align-items: center;
gap: 20%;
margin-top: 1%;
margin-right: 5%;
}

.navbarlistitem{
color: white;
font-size: 2.5em;
font-weight: 400;
text-decoration: none;
list-style: none;
}

.navbarlistitem:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
}

.homepagelistcontainer{
display: flex;
margin-top: 8%;
min-width: 50vh;

flex-direction: column;

gap: 5vh;
margin-left: 5%;

align-items: left;

}

.homepagelistitem{
max-width: 100%;
color: white;
text-align: center;
font-size: 8em;
font-weight: 200;
text-decoration: none;
list-style-type:none;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-shadow: 1px 1px 1px black;
}

.SocialMediaContainer{
padding: 0.5%;
padding-bottom: 2%;
}

.socialmedialogos:hover{
  transform: scale(1.1);
  transition: transform 0.2s;

}

.SocialMediaContainer {
  position: fixed;
  top: 50%; /* Ajusta la posición vertical según tus necesidades */
  transform: translateY(-50%); /* Centra verticalmente el contenedor */
  right: 2%; /* Ajusta la posición horizontal desde el borde derecho */
  display: flex;
  flex-direction: row;
}

.socialMediaDiv {
margin-top:10px !important;
  

}

.socialmedialogos {
  width: 6vh; /* Ajusta el ancho de los íconos según tus necesidades */
  height: auto; 
  margin-top: 4vh;/* Permitirá que la altura se ajuste automáticamente manteniendo la proporción */
}

.infopagestylebackgroundoverlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0,0.8), rgb(0, 0, 0,0.6),rgb(0, 0, 0,0.4),rgb(0, 0, 0,0.6), rgb(0, 0, 0,0.8));
}

.infocontainer{
  display: flex;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  text-align: center;
  
}


.infop{
  font-family:'Montserrat',sans-serif;
  font-size: 2.2em;
  font-weight: 200;
  text-shadow: 1px 1px 1px black;
  
}

.homepageimg{
  max-width: 90%;
  min-width: 90%;
  border-radius: 10%;
  margin: 5%;
 
}

.homeimgdiv{
  min-width: 100%;
 
 
}

.homepagecol{
  max-height: 30vh;
}

.teampersonimg{
  max-width: 15vh;
  min-height: 15vh;
 
  border-radius: 50%;
}

.teampersonname{
  font-size: 2em;
  text-shadow: 1px 1px 1px black;
}

.gymequipimg{
  max-width: 45%;
  min-height: auto;
  border-radius: 2%;
 
}


.gymequipimg:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
}